#body{
    margin-left: 300px;
    background-color: transparent;
    background-position: 20px;
    border-radius: 20px;
    border: none;
    color: black;
    margin-top: 20px;
    width: 600px;
    font-weight: 400;
}
#button{
    background-color: red;
    width: 150px;
    border-radius: 30px;
    height: 4opx;
    font-weight: 700;
    font-size: large;
    
}
#icone{
    justify-content: center;
    margin-left: 50px;
}
#mainbody{
    background:url(images/ggggg.jpg);
    
}